#components-layout-demo-top-side .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .ant-row-rtl #components-layout-demo-top-side .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  
  .site-layout-background {
    background: #fff;
  }
  #administrators{display: inline-block;margin-left: 850px;}
  #stration{display: inline-block;background-color: #4c73c6;width: 80px;text-align: center;}
  #Safeexit{display: inline-block;background-color: #776fd8;width: 80px;text-align: center;}
  #tui{color: #fff;}
  /* .ant-layout-header header{position: fixed;} */
  