<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 数据库操作的映射文件  
	namespace - 命名空间 对应接口的名字
-->
<mapper namespace="com.aowin.dao.NoteMapper">	
	
	<insert id="addNote" parameterType="com.aowin.entity.Note">
	insert into note(id,news_id,account,text,date)
	values(#{id}, #{newsId}, #{account},#{text},#{date})
	</insert>	
	
	<update id="updateFavor" >
	update note set favor=favor+1 where id=#{id}
	</update>
	
</mapper>